@model DotNetFlix.aMyBLL.Models.ShopCarTableModel;

@{
    ViewData["Title"] = "Winkelwagen";
}




<div class="cart-container-wrapper" >

    <div class="cart-container-links">
        <h3>Winkelwagen</h3>

        @if (Model != null)
        {

            foreach (var line in Model.Items)
            {
                <div>

                    <p>@line.Title</p>

                </div>
            }
        }


    </div>

    <div class="cart-container-rechts">
        <h3>Totaalprijs</h3>

        <div class="cart-item-subtotaal">
            <p>Subtotaal</p>
            <p>15 euro</p>
        </div>

        <div class="cart-item-subtotaal">
            <p>Verzending</p>
            <p>5 euro</p>
        </div>

        <div class="cart-item-totaal">
            <p>Totaalprijs (inclusief BTW)</p>
            <p>20 euro</p>
        </div>

        <button>CHECKOUT</button>
    </div>

</div>