
@{
    ViewData["Title"] = "Admin";
}
<h1>Simpele admin pagina</h1>
<br />

<form method="get" asp-controller="Admin" asp-action="DummyDataButton">
   <input type="submit" value="Sync database met IMDb" />
   <p>We gebruiken een gratis service met een limiet van 100 requests per dag gebruik de api dus niet om bv rechtstreeks data te fetchen!</p>
</form><br /><br />

<form method="get" asp-controller="Admin" asp-action="DummyUserButton">
   <input type="submit" value="NEW USER" />
   <p>Genereer een nieuwe User met random shopping cart</p>
</form><br /><br />